<!DOCTYPE html>
<html lang="fi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
        <title>Lukuvinkkikirjasto</title>

        <link rel="stylesheet" href="/css/app.css"/>
    </head>

    <body>
        <div class="container" layout:fragment="content">
            Page content goes here
        </div>

        <script src="/js/app.js"></script>
        <th:block layout:fragment="scripts"></th:block>
    </body>
</html>
