<div layout:decorator="layouts/default" layout:fragment="content">
	<form th:action="@{/book/add}" th:method="POST" th:object="${bookHintDto}">
		<div class="field is-horizontal">
			<div class="field-label is-large">
				<label class="label">Otsikko</label>
			</div>

			<div class="field-body">
				<div class="field">
					<input class="input is-large" th:classappend="${#fields.hasErrors('name')} ? is-danger" type="text" th:field="*{name}" />

					<p class="help is-danger" th:each="error : ${#fields.errors('name')}" th:text="${error}">
						Validation error
					</p>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-large">
				<label class="label">Kirjoittaja</label>
			</div>

			<div class="field-body">
				<div class="field">
					<input class="input is-large" th:classappend="${#fields.hasErrors('author')} ? is-danger" type="text" th:field="*{author}" />

					<p class="help is-danger" th:each="error : ${#fields.errors('author')}" th:text="${error}">
						Validation error
					</p>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-large">
				<label class="label">ISBN</label>
			</div>

			<div class="field-body">
				<div class="field">
					<input class="input is-large" th:classappend="${#fields.hasErrors('isbn')} ? is-danger" type="text" th:field="*{isbn}" />

					<p class="help is-danger" th:each="error : ${#fields.errors('isbn')}" th:text="${error}">
						Validation error
					</p>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">

			<div class="field-label is-large">
				<label class="label">Tagit</label>
			</div>

			<div class="field-body" id="tagsBlock" th:replace="tags :: tagsList(${allTags})">
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label"></div>
			<div class="field-body">
				<input class="button is-link is-large" type="submit" value="Lisää" name="submit" />
			</div>
		</div>
	</form>
</div>