<div layout:decorator="layouts/default" layout:fragment="content">
    <form th:action="@{/tags/add}" th:method="POST" th:object="${tagDto}">

        <div class="field is-horizontal">

            <div class="field-label is-large">
                <label class="label">Nimi</label>
            </div>

            <div class="field-body">
                <div class="field">
                    <input class="input is-large" th:classappend="${#fields.hasErrors('name')} ? is-danger" type="text" th:field="*{name}" />

                    <p class="help is-danger" th:each="error : ${#fields.errors('name')}" th:text="${error}">
                        Validation error
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <input class="button is-link is-large" type="submit" value="Lisää" name="submit" />
            </div>
        </div>
    </form>
</div>