<div layout:decorator="layouts/default" layout:fragment="content">
	<h1 class="title">Lisää videovinkki</h1>
	
	<form th:action="@{/video/add}" th:method="POST" th:object="${videoHintDto}">
		<div class="field is-horizontal">
			<div class="field-label is-large">
				<label class="label">Otsikko</label>
			</div>

			<div class="field-body">
				<div class="field">
					<input class="input is-large" th:classappend="${#fields.hasErrors('name')} ? is-danger" type="text" th:field="*{name}" />

					<p class="help is-danger" th:each="error : ${#fields.errors('name')}" th:text="${error}">
						Validation error
					</p>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-large">
				<label class="label">Tekijä</label>
			</div>

			<div class="field-body">
				<div class="field">
					<input class="input is-large" th:classappend="${#fields.hasErrors('author')} ? is-danger" type="text" th:field="*{author}" />

					<p class="help is-danger" th:each="error : ${#fields.errors('author')}" th:text="${error}">
						Validation error
					</p>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-large">
				<label class="label">URL</label>
			</div>

			<div class="field-body">
				<div class="field">
					<input class="input is-large" th:classappend="${#fields.hasErrors('url')} ? is-danger" type="text" th:field="*{url}" />

					<p class="help is-danger" th:each="error : ${#fields.errors('url')}" th:text="${error}">
						Validation error
					</p>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label"></div>
			<div class="field-body">
				<input class="button is-link is-large" type="submit" value="Lisää" name="submit" />
			</div>
		</div>
	</form>
</div>