<div layout:decorator="layouts/default" layout:fragment="content">
    <h1 class="title">Kirja</h1>

    <table>
        <tbody>
            <tr>
                <th>Otsikko</th>
                <th th:text="${bookHint.name}"></th>
            </tr>
            <tr>
                <th>Kirjoittaja</th>
                <th th:text="${bookHint.author}"></th>
            </tr>
            <tr>
                <th>ISBN</th>
                <th th:text="${bookHint.isbn}"></th>
            </tr>
        </tbody>
    </table>

</div>