<div layout:decorator="layouts/default" layout:fragment="content">
    <h1 class="title">Kirja</h1>

    <table class="table is-striped is-fullwidth">
        <tbody>
            <tr>
                <th>Otsikko</th>
                <td th:text="${bookHint.name}"></td>
            </tr>
            <tr>
                <th>Kirjoittaja</th>
                <td th:text="${bookHint.author}"></td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td th:text="${bookHint.isbn}"></td>
            </tr>
        </tbody>
    </table>

</div>