<div layout:decorator="layouts/default" layout:fragment="content">
	<h1 class="title">Editoi blogivinkki</h1>

	<form th:action="@{/blogs/{id}/edit (id=${blogHint.id})}" th:method="POST" th:object="${blogHintDto}">
		<div th:replace="fragments/form_edit :: row('Otsikko', 'name')"></div>
		<div th:replace="fragments/form_edit :: row('Kirjoittaja', 'author')"></div>
		<div th:replace="fragments/form_edit :: row('URL', 'url')"></div>
		<div th:replace="fragments/form_edit :: tags"></div>
		<div th:replace="fragments/form_edit :: submit"></div>
	</form>
</div>
