<div layout:decorator="layouts/default" layout:fragment="content">
	<h1 class="title">Editoi kirjavinkki</h1>
	
	<form th:action="@{/books/{id}/edit (id=${bookHint.id})}" th:method="POST" th:object="${bookHintDto}">
		<div class="field is-horizontal">
			<div class="field-label is-large">
				<label class="label">Otsikko</label>
			</div>

			<div class="field-body">
				<div class="field">
					<input class="input is-large" th:classappend="${#fields.hasErrors('name')} ? is-danger" th:value ="${bookHint.name}" id="name" name="name"/>

					<p class="help is-danger" th:each="error : ${#fields.errors('name')}" th:text="${error}">
						Validation error
					</p>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-large">
				<label class="label">Kirjoittaja</label>
			</div>

			<div class="field-body">
				<div class="field">
                                    <input class="input is-large" th:classappend="${#fields.hasErrors('author')} ? is-danger" type="text" th:value ="${bookHint.author}" id="author" name="author"/>

					<p class="help is-danger" th:each="error : ${#fields.errors('author')}" th:text="${error}">
						Validation error
					</p>
				</div>
			</div>
		</div>

		<div class="field is-horizontal">
			<div class="field-label is-large">
				<label class="label">ISBN</label>
			</div>

			<div class="field-body">
				<div class="field">
					<input class="input is-large" th:classappend="${#fields.hasErrors('isbn')} ? is-danger" type="text" th:value ="${bookHint.isbn}" id="isbn" name="isbn"/>

					<p class="help is-danger" th:each="error : ${#fields.errors('isbn')}" th:text="${error}">
						Validation error
					</p>
				</div>
			</div>
		</div>
		<div th:replace="fragments/form_edit :: tags"></div>
		<div th:replace="fragments/form_edit :: submit"></div>
	</form>
</div>
