<div layout:decorator="layouts/default" layout:fragment="content">
  <h1 class="title">Vinkit</h1>

    <table>
      <thead>
      <tr>
        <th>Nimi</th>
        <th>Tyyppi</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="hint : ${hints}">
        <th th:switch="${hint.type}">
          <a th:case="'Book'" th:href="@{/books/{hintID}/(hintID=${hint.id})}">
            <span th:text="${hint.name}"></span>
          </a>
          <a th:case="'Blog'" th:href="@{/blogs/{hintID}/(hintID=${hint.id})}">
            <span th:text="${hint.name}"></span>
          </a>
        </th>
        <th>
          <span th:text="${hint.type}"></span>
        </th>
      </tr>
      </tbody>
    </table>


    <div>
      <a th:if="${page > 0}" th:href="@{/(page=${page}, action='prev')}">
        &laquo; Edellinen
      </a>
      <span>
        <span>Sivu</span>
        <span th:text="${page}"/>
        <span>/</span>
        <span th:text="${totalPages}"/>
      </span>
      <a th:if="${page != totalPages}" th:href="@{/(page=${page}, action='next')}">
        Seuraava &raquo;
      </a>
    </div>

</div>