<div layout:decorator="layouts/default" layout:fragment="content">
    <div th:if="${notification}!=null">
        <div th:replace="fragments/notifications"></div>
    </div>
    <h1 class="title hintTitle" th:text="${videoHint.name}"></h1>
    
    <div class="readIndicator" th:switch="${videoHint.isRead}">
        <span th:case="false" class="icon has-text-gray">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
        </span>
        <span th:case="true" class="icon has-text-success">
            <i class="fa fa-check-square fa-3x"/>
        </span>
    </div>

    <table class="table is-striped is-fullwidth">
        <tbody>
            <tr>
                <th>Tyyppi</th>
                <td>Video</td>
            </tr>
            <tr>
                <th>Tekijä</th>
                <td th:text="${videoHint.author}"></td>
            </tr>
            <tr>
                <th>Linkki</th>
                <td>
                    <a th:href="${videoHint.url}" th:text="${videoHint.url}"></a>
                </td>
            </tr>
            <tr>
                <th>Tagit</th>
                <td>
                    <div class="tags">
                        <span class="tag is-link" th:each="tag : ${videoHint.tags}" th:text="${tag.name}"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <form th:method="POST" th:action="@{/videos/{id} (id=${videoHint.id})}" class="isReadButton">
        <div th:switch="${videoHint.isRead}">
            <input th:case="false" type="submit" value="Merkitse katsotuksi" name="isRead" class="button is-link isReadButton"/>
            <input th:case="true" type="submit" value="Merkitse katsomattomaksi" name="isRead" class="button is-link isReadButton"/>
        </div>
    </form>

    <div th:replace="fragments/comments :: comments(@{/videos/{id} (id=${videoHint.id})})"></div>
</div>